{% extends 'base.html' %} {% block header %}
<h1>{% block title %}Customers{% endblock %}</h1>
<a class="button_style" href="{{ url_for('create_customer') }}"
  >Create Customer</a
>
{% endblock %} {% block content %}
<table>
  <tr>
    <th>Nº</th>
    <th>Name</th>
    <th>Email</th>
    <th>Phone</th>
    <th>Address</th>
    <th>Delete</th>
  </tr>
  {% for customer in customers %}
  <tr>
    <td>{{ customer.cust_no }}</td>
    <td>{{ customer.name }}</td>
    <td>{{ customer.email }}</td>
    <td>{{ customer.phone }}</td>
    <td>{{ customer.address }}</td>
    <td>
      <form
        class="delete-form"
        action="{{ url_for('customer_delete', customer_id=customer['cust_no']) }}"
        method="POST"
      >
        <button type="submit" class="delete-button">Delete</button>
      </form>
    </td>
  </tr>
  {% endfor %}
</table>
{% endblock %}
