html {
  font-family: sans-serif;
}

body {
  margin: 0 auto;
  background: white;
}

h1,h2,h3,h4,h5,h6 {
  color: #377ba8;
  margin: 1rem 0;
}

a {
  color: #377ba8;
}

hr {
  border: none;
  border-top: 1px solid lightgray;
}

nav {
  position: fixed;
  display: flex;
  height: 100vh;
  width: 15vw;
}
.navCard {
  position: relative;
  top: 8rem;
  background: #f2f2f2;
  border-radius: 0px 20px 20px 0px;
  box-shadow: 1px 1px 5px #80808057;
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  height: 65vh;
  width: 100%;
  padding: 40px;
}
nav h1 {
  flex: auto;
  margin: 0;
}

nav h1 a {
  text-decoration: none;
  padding: 0.25rem 0.5rem;
}

nav ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li a,
nav ul li span,
header .action {
  display: block;
  padding: 0.5rem;
  text-decoration: none;
  color: black;
  font-weight: 600;
  font-size: 28px;
  margin: 0px 0px 10px;
  border-radius: 10px;
}
nav ul li a:hover {
  color: #837eb8;
}
.fixed {
  position: fixed;
  top: 0;
  width: 75vw;
  z-index: 1;
  background-color: white;
}
.fixed > h1 {
  color: #837eb8;
}
.fixed header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header h1 {
  color: black;
}
.button_style {
  background-color: #837eb8;
  padding: 10px;
  text-decoration: none;
  color: white;
  border-radius: 10px;
  cursor:pointer;
}
.content {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  left: 20vw;
  width: 75vw;
}
.content > h1 {
  color: #837eb8;
}
.content > header {
  border-bottom: 1px solid lightgray;
  display: flex;
  align-items: flex-end;
}

.content > header h1 {
  flex: auto;
  margin: 1rem 0 0.25rem 0;
}
.content .message {
  background: #f2f2f2;
  border-radius: 20px;
  width: 75vw;
  position: relative;
  top: 8rem;
}

.flash {
  margin: 1em 0;
  padding: 1em;
  background: #cae6f6;
  border: 1px solid #377ba8;
}

.post > header {
  display: flex;
  align-items: flex-end;
  font-size: 0.85em;
}

.post > header > div:first-of-type {
  flex: auto;
}

.post > header h1 {
  font-size: 1.5em;
  margin-bottom: 0;
}

.post .about {
  color: slategray;
  font-style: italic;
}

.post .body {
  white-space: pre-line;
}

.content:last-child {
  margin-bottom: 0;
}

.content form {
  margin: 1em 0;
  display: flex;
  flex-direction: column;
}

.content label {
  font-weight: bold;
  margin-bottom: 0.5em;
}

.content input,
.content textarea {
  margin-bottom: 1em;
}

.content textarea {
min-height: 12em;
    resize: vertical;
    border-radius: 10px;
    border: none;
}
.layout {
  display: flex;
}
table {
  padding: 40px 50px;
  width: 100%;
  text-align: center;
}
table tr:nth-child(2n){
  border-bottom: 1px solid black;
}
article p:first-child {
  padding-top: 50px;
}
input.danger {
  color: #cc2f2e;
}

input[type="submit"] {
  align-self: start;
  min-width: 10em;
}

.form{
  padding: 50px;
}
.form input{
  padding: 10px;
  width: 200px;
  border: none;
  border-radius: 10px;
}