{% extends 'base.html' %} {% block header %}
<h1>{% block title %}Create New Order{% endblock %}</h1>
{% endblock %} {% block content %}
<form class="form" method="POST" action="{{ url_for('create_order') }}">
  <div>
    <label for="cust_no">Customer</label><br />
    <input type="text" id="cust_no" name="cust_no" required />
  </div>
  <div>
    <label for="date">Date</label><br />
    <input type="date" id="date" name="date" required />
  </div>
  <div>
    <input class="button_style" type="submit" value="Create Order" />
  </div>
</form>
{% endblock %}
